<!-- Content -->
	<div class="banner">
	    <div class="banner-body">
	        <h3 class="text-uppercase">Bienvenido a la CAFETERIA HANNYA</h3>
	        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, similique.</p>
	        <a href="#" class="btn btn-warning">Ir al menu</a>
	    </div>
	</div>

	<div class="container container-web-page">
	    <h3 class="text-center text-uppercase poppins-regular font-weight-bold">Nuestros servicios</h3>
	    <br>
	    <div class="row">
	        <div class="col-12 col-sm-6 col-md-4">
	            <p class="text-center"></p>
	            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Envíos a domicilio</h5>
	            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat quod, maxime ad accusamus quisquam.</p>
	        </div>
	        <div class="col-12 col-sm-6 col-md-4">
	            <p class="text-center"></p>
	            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Ventas al por mayor</h5>
	            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat quod, maxime ad accusamus quisquam.</p>
	        </div>
	        <div class="col-12 col-sm-6 col-md-4">
	            <p class="text-center"></p>
	            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Reservaciones de local</h5>
	            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat quod, maxime ad accusamus quisquam.</p>
	        </div>
	    </div>
	</div>

	<hr>

	<div class="container-fluid container-web-page">
	    <h3 class="text-center text-uppercase poppins-regular font-weight-bold">Nuestros platillos más populares</h3>
	    <div class="container-cards full-box mb-4">

	      <div class="card-product div-bordered bg-white shadow-2">
	          <figure class="card-product-img">
	              <img class="img-fluid" src="./assets/platillos/platillo.jpg" alt="nombre_platillo">
	          </figure>
	          <div class="card-product-body">
	              <div class="card-product-content">
	                  <h5 class="text-center fw-bolder">Nombre completo del platillo con limite de caracteres</h5>
	                  <p class="card-product-price text-center fw-bolder">$10.00 USD</p>
	                  <span class="full-box text-center text-muted" style="display: block;">En stock</span>
	              </div>
	              <div class="text-center card-product-options" style="padding: 10px 0;">
	                  <button type="button" class="btn btn-link btn-sm btn-rounded text-success" ><i ></i> &nbsp; Agregar</button>
	                  &nbsp; &nbsp;
	                  <a href="#" class="btn btn-link btn-sm btn-rounded" ><i></i> &nbsp; Detalles</a>
	                  &nbsp; &nbsp;
	                  <button type="button" class="btn btn-link btn-sm btn-rounded" ><i></i></button>
	              </div>
	          </div>
	      </div>

	      <div class="card-product div-bordered bg-white shadow-2">
	          <figure class="card-product-img">
	              <img class="img-fluid" src="./assets/img/img_not_found.jpg" alt="nombre_platillo">
	          </figure>
	          <div class="card-product-body">
	              <div class="card-product-content">
	                  <h5 class="text-center fw-bolder">Nombre completo del platillo con limite de caracteres</h5>
	                  <p class="card-product-price text-center fw-bolder">$10.00 USD</p>
	                  <span class="full-box text-center text-muted" style="display: block;">En stock</span>
	              </div>
	              <div class="text-center card-product-options" style="padding: 10px 0;">
	                  <button type="button" class="btn btn-link btn-sm btn-rounded text-success" ><i></i> &nbsp; Agregar</button>
	                  &nbsp; &nbsp;
	                  <a href="#" class="btn btn-link btn-sm btn-rounded" ><i></i> &nbsp; Detalles</a>
	                  &nbsp; &nbsp;
	                  <button type="button" class="btn btn-link btn-sm btn-rounded text-muted" ><i></i></button>
	              </div>
	          </div>
	      </div>

	      <div class="card-product div-bordered bg-white shadow-2">
	          <figure class="card-product-img">
	              <img class="img-fluid" src="./assets/platillos/platillo.jpg" alt="nombre_platillo">
	          </figure>
	          <div class="card-product-body">
	              <div class="card-product-content">
	                  <h5 class="text-center fw-bolder">Nombre completo del platillo con limite de caracteres</h5>
	                  <p class="card-product-price text-center fw-bolder">$10.00 USD</p>
	                  <span class="full-box text-center text-muted" style="display: block;">En stock</span>
	              </div>
	              <div class="text-center card-product-options" style="padding: 10px 0;">
	                  <button type="button" class="btn btn-link btn-sm btn-rounded text-success" ><i></i> &nbsp; Agregar</button>
	                  &nbsp; &nbsp;
	                  <a href="details.html" class="btn btn-link btn-sm btn-rounded" ><i></i> &nbsp; Detalles</a>
	                  &nbsp; &nbsp;
	                  <button type="button" class="btn btn-link btn-sm btn-rounded" ><i></i></button>
	              </div>
	          </div>
	      </div>

	    </div>
	    <p class="text-center"><a href="#" class="btn btn-primary"> Ir al menu</a></p>
	</div>